.advantages__header {
  font-size: 50px;
  margin-bottom: 50px;
}

.special-offer {
  text-align: center;
  background-color: var(--light);
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 800;
  line-height:1;
  color: var(--black);
  padding: 40px 0;
}
.special-offer__text {
  margin: 0;
}
