.advantages {
  background-color: var(--light);

}
.advantages__controls {
  width: 280px;
  padding-top: 78px;
}
.advantages__controls button {
  font-family: "Raleway", "Tahoma", sans-serif;
  color: var(--black);
}
.advantages__content {
  width: calc(100% - 280px);
}
.advantages__item {
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 55px;
    padding-left: 120px;
    padding-right: 305px;
}
.advantages__item:not(:first-of-type) {
  display: none;
}
.advantages__item--delivery {
  background-image: url(../images/tabs/delivery.png);
}
.advantages__item--garanty {
  background-image: url(../images/tabs/garanty.png);
}
.advantages__item--credit {
  background-image: url(../images/tabs/credit.png);
}
.advantages__header {
  font-size: 50px;
  margin-bottom: 16px;
}

.special-offer {
  position: relative;
  text-align: center;
  background-color: var(--light);
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 800;
  line-height:24px;
  color: var(--black);
  padding: 40px 0;
  letter-spacing: 4px;
  font-size: 20px;
}
.special-offer__link::before {
  content: "";
  position: absolute;
  background-color: var(--yellow);
  width: 125px;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../images/icons/delivery-truck.svg");

}
.special-offer__link::after{
  content: "";
  position: absolute;
  background-color: #e6e6e6;
  width: 40px;
  height: 40%;
  border-radius: 50%;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../images/icons/info.svg");
}
.special-offer__text {
  margin: 0;
  color: var(--black);
}
