.advantages {
  background-color: var(--light);

}
.advantages__controls button {
  font-family: "Raleway";
  color: var(--black);
}
.advantages__item {
  background-repeat: no-repeat;
  background-position: right center;
}
.advantages__item--delivery {
  background-image: url(../images/tabs/delivery.png);
}
.advantages__item--garanty {
  background-image: url(../images/tabs/garanty.png);
}
.advantages__item--credit {
  background-image: url(../images/tabs/credit.png);
}
.advantages__header {
  font-size: 50px;
  margin-bottom: 50px;
}

.special-offer {
  position: relative;
  text-align: center;
  background-color: var(--light);
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 800;
  line-height:1;
  color: var(--black);
  padding: 40px 0;
  letter-spacing: 3.6px;
}
.special-offer__link:before {
  content: "";
  position: absolute;
  background-color: var(--yellow);
  width: 125px;
  height: 100%;
  left: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../images/icons/delivery-truck.svg");

}
.special-offer__link:after{
  content: "";
  position: absolute;
  background-color: #e6e6e6;
  width: 40px;
  height: 40%;
  border-radius: 50%;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../images/icons/info.svg");
}
.special-offer__text {
  margin: 0;
  color: var(--black);
}
