.content-shop__header p {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--black);
  margin: 0;
  margin-right: 38px;
}

.sort-control {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sort-control__select{
  color: var(--black);
  background-color: var(--light);
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 4px 39px 7px 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;position: relative;

  cursor: pointer;

  background-image: url(../images/icons/dropdown.svg);
  background-position:right 13px center;
  background-repeat: no-repeat;

}

.sort-control__arr-item {
  position: relative;
}

.sort-control__arr-item::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../images/icons/sort-down.svg");
  position: absolute;
  width: 11px;
  height: 10px;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 40px;
}

.catalog h2 {
  width: 100%;
}
.catalog__item {
  outline-color: transparent;
}
.catalog__item:focus-within {
  outline-color: var(--violet);
}
.catalog__item-image-wrapper {
  position: relative;
  outline-color: inherit;
}
.catalog__item-img {
  outline: 5px solid;
  outline-color: inherit;
}


.catalog__item-bage {
  position: absolute;
  font-family: "Raleway", "Tahoma", sans-serif;

  color: #606060;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  width: 60px;
  height: 60px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  right: 27px;
  top: 27px;
  border: 2px solid #606060;
  border-radius: 50%;

}

.catalog__item-link {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.34px;
  color: var(--black);
}
.catalog__item-link:focus {
  color: var(--violet);
  border: none;
  outline: none;
}

.catalog__item-link:focus + .catalog__item-price {
  color: var(--violet);
}
.catalog__item-desc {
  margin-top: 33px;
  display: flex;
  justify-content: space-between;

  padding-bottom: 5px
}

.catalog__item-price {
  margin-left: 10px;
  white-space: nowrap;
}

.catalog__item-overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(0deg, rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.8));
}

.catalog__item-image-wrapper:hover .catalog__item-overlay {
  visibility: visible;
}


.btn-catalog {

}

.load-more {
  text-align: center;

  margin-bottom: 50px;
}


.load-more {
  display: block;
  width: 100%;
  border: 3px solid #e6e6e6;
  padding: 17px 20px 13px;
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  background-color: inherit;
}

.load-more:focus {
  border: 5px solid var(--violet);
  padding: 15px 20px 11px;
}

.load-more:hover {
  border: 3px solid var(--black);
  padding: 17px 20px 13px;
}
.load-more:active {
  border: 3px solid #e6e6e6;
  opacity: 0.3;
}
.pagination {
  background-color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:23px 28px 16px;

}

.pagination__list {
  display: flex;
  padding-left: 86px;
}
.pagination__item {
  margin-right: 29px;
}
.pagination__bnt {
  color: var(--black);
  font-size: 16px;
  line-height: 19px;
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination__link {
  color: #b9b9b9;
  font-size: 16px;
  line-height: 19px;
}
