.content-header {
  padding: 37px 0 44px;
}
.content-header__inner {
  padding: 0 61px;
}
.content-header h1 {
  margin-bottom: 17px;
}
.content-header__breadcrumbs {
  margin-left: -14px;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
padding: 0;
list-style-type: none;
 }

.breadcrumbs__item {
  margin-right: 9px;
  position: relative;
}

.breadcrumbs__item:not(:last-child)::after{
  position: absolute;
  top: 13px;
  right: -7px;
  width: 4px;
  height: 7px;
  content: "";
  background-image: url("../images/icons/nav-arrow.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  display: inline-flex;
  padding: 6px 13px;
  text-decoration: none;
	cursor: pointer;

}
.breadcrumbs__link:hover{
  color: var(--black);
}

.breadcrumbs__link:focus{
  outline: 5px solid var(--violet);
}

.breadcrumbs__link:active{
  outline: none;
  color: #b3b3b3;
}

.breadcrumbs__item:last-child .breadcrumbs__link:hover {

  color: #666666;
}
.breadcrumbs__item:last-child .breadcrumbs__link:focus{

  color: #666666;
}
.breadcrumbs__item:last-child .breadcrumbs__link:active {

  color: #666666;
}
