.content-sort__header {
  background-color: var(--gray);
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--black);
}

.content-shop__header {
  background-color: var(--light-gray);
}

.content-sort__form-field legend {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.content-sort__form-field label{
  color: var(--black);
  font-size: 16px;
  line-height: 18px;
}
.catalog-filter-label {
  color: #a5a5a5;
  font-size: 15px;
  line-height: 18px;
}

.content-sort__form-submit{
  font-family: "Raleway", "Tahoma", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
}
