.content-sort {
  padding-left: 57px;
  padding-right: 68px;
  position: relative;
  z-index: 0;
}

.content-sort__header {
  background-color: var(--gray);
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--black);
  margin: 0;
  padding: 25px 0 26px;
  position: relative;
}

.content-sort__header::before {
  background-color: var(--gray);
  content: '';
  height: 100%;
  width: 100vw;
  top: 0;
  right: -68px;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.content-shop__header {
  display: flex;
  padding: 20px 0 20px;
  align-items: center;
}

.content-shop__header:before {
  background-color: var(--light-gray);
}

.content-sort__form {
  padding-top: 69px;
}

.content-sort__form-field {
  border: none;
  border-top: 2px solid var(--black);
  position: relative;
  padding: 60px 0 32px;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

.content-sort__form-field:before {
  content: '';
  height: 2px;
  background-color: var(--black);
  width: 100%;
}

.content-sort__legend {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  position: absolute;
  top: 12px;
  left: 0;
}

/*.content-sort__form-field label{
  color: var(--black);
  font-size: 16px;
  line-height: 18px;
}*/
.catalog-filter-label {
  color: #a5a5a5;
  font-size: 15px;
  line-height: 18px;
}

.content-sort__form-submit {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.range {
  margin-left: 13px;
}

.range__scale {
  position: relative;
  height: 2px;
  background-color: var(--gray);
  margin-top: 8px;
}

.range__bar {
  position: absolute;
  height: 2px;
  background-color: var(--black);
}

.range__toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: var(--light-gray);
  border: 2px solid var(--black);
  border-radius: 50%;
  cursor: pointer;
}

.range__toggle:focus {
  border-color: var(--violet);
}

.range__toggle:active {
  border-color: var(--black);
  background-color: var(--black);
}

.toggle-min {
  top: -8px;
  left: -13px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range__inputs-wrapper {
  display: flex;
  margin-top: 15px;
  margin-left: -5px;
}

.range__label {
  display: flex;
  width: 47%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.range__input {
  appearance: textfield;
  background-color: transparent;
  border: none;
  width: 30px;
  font: inherit;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.content-sort__item {
  margin-bottom: 20px;
}

.content-sort__item:last-child {
  margin-bottom: 12px;
}

.checkbox {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox__mark {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 18px;
  padding: 0;
  border: 2px solid var(--black);
  border-radius: 3px;
}

.checkbox__label {
  color: var(--black);
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-family: Rubik;
  font-weight: 400;
}

.checkbox__input[type="checkbox"]:not(:checked)~.checkbox__mark svg {
  display: none;
}

/*Покой*/
.checkbox__input[type="checkbox"]:not(:checked)~.checkbox__mark {
  opacity: 0.2;
}

/*Наведение*/
.checkbox:not(:focus-within):hover .checkbox__input[type="checkbox"]:checked~.checkbox__mark {
  opacity: 0.5;
}

.checkbox:not(:focus-within):hover .checkbox__input[type="checkbox"]:checked~.checkbox__label {
  opacity: 0.5;
}

/*Фокус*/
.checkbox:focus-within .checkbox__input[type="checkbox"]~.checkbox__mark {
  border-color: var(--violet);
  opacity: 1;
}

.checkbox:focus-within .checkbox__input[type="checkbox"]~.checkbox__mark svg {
  fill: var(--violet);
  opacity: 1;
}

.checkbox:focus-within .checkbox__input[type="checkbox"]~.checkbox__label {
  color: var(--violet);
  opacity: 1;
}

/*Активность*/
.checkbox:active {
  opacity: 0.2;
}

.radio {
  display: flex;
  align-items: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  cursor: pointer;
  user-select: none;
}

.radio__mark {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
  border: 2px solid var(--black);
  border-radius: 50%;
}

.radio__mark::after {
  content: '';
  border-radius: 50%;
  background-color: var(--black);
  height: 8px;
  width: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__input[type="radio"]:not(:checked)+.radio__mark::after {
  display: none;
}

/*Покой*/
.radio__input[type="radio"]:not(:checked)~.radio__mark {
  opacity: 0.2;
}

/*Наведение*/
.radio:not(:focus-within):hover .radio__input[type="radio"]:checked~.radio__mark {
  opacity: 0.5;
}

.radio:not(:focus-within):hover .radio__input[type="radio"]:checked~.checkbox__label {
  opacity: 0.5;
}

/*Фокус*/
.radio:focus-within .radio__input[type="radio"]~.radio__mark {
  border-color: var(--violet);
  opacity: 1;
}

.radio:focus-within .radio__input[type="radio"]~.radio__mark::after {
  background-color: var(--violet);
  opacity: 1;
}

.radio:focus-within .radio__input[type="radio"]~.checkbox__label {
  color: var(--violet);
  opacity: 1;
}

/*Активность*/
.radio:active {
  opacity: 0.2;
}
