.breadcrumbs__link{
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  position: relative;
}
.breadcrumbs__link:after{
  content: "";
  background-repeat: no-repeat;
  background-image: url("../images/icons/nav-arrow.svg");
  position: absolute;
  width: 4px;
  height: 7px;

}
