.socials__link {
  display: inline-block;
  background-repeat: no-repeat;
  background-position:center center;
  background-color: #7c7c7c;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.socials__link--fb {
  background-image: url(../images/icons/socials/facebook.svg);
}
.socials__link--inst {
  background-image: url(../images/icons/socials/instagram.svg);
}
.socials__link--tw {
  background-image: url(../images/icons/socials/twitter.svg);
}
