.page-footer {
  background-color: var(--dark);
  color: var(--white);
  font-size: 16px;
  line-height: 19px;
}

.page-footer__top-wrapper {
  display: flex;
  padding-top: 35px;
}

.page-footer__address {
  width: 346px;
}

.page-footer__nav {
  display: flex;
}

.page-footer__nav-item:not(:last-child) {
  margin-right: -8px;
}

.page-footer__nav-link {
  outline: 0;
  align-items: center;
  padding: 12px 16px 13px;
  border: 2px solid transparent;
  border-radius: 25px;
  color: var(--white);
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  font-family: "Raleway", "Tahoma", sans-serif;
   text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
}

.page-footer__nav-link:focus {
  border-color: var(--violet);

}

.page-footer__nav-link:hover {
  border-color: transparent;
  color: var(--yellow-hover);
}

.page-footer__nav-link:hover::after {
  content: "";
  background-color: var(--yellow-hover);
  height: 2px;
  width: calc(100% - 37px);
  position: absolute;
  left: 50%;
  transform: translateX(-51%);
  bottom: 4px;
}

.page-footer__nav-link:active {
  opacity: 0.3;
}

.page-footer__phone {
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: normal;
  text-align: right;
  margin-left: auto;
}

.page-footer__phone a {
  color: var(--white);
}

.page-footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
}

.page-footer__bottom-wrapper::before {
  content: "";
  display: block;
  height: 7px;
  width: 80px;
  background-color: var(--yellow-hover);
}

.page-footer__socials {
  position: relative;
  left: 17px;
}

.socials {
  display: flex;
}

.socials__item {
  margin: 0 8px;
}

.socials__link {
  background-color: #7c7c7c;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: center center;
}

.socials__link--fb {
  background-image: url(../images/icons/socials/facebook.svg);
}

.socials__link--inst {
  background-image: url(../images/icons/socials/instagram.svg);
}

.socials__link--tw {
  background-image: url(../images/icons/socials/twitter.svg);
}

.copyright {
  fill: var(--white);
}
