.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 51;
  align-items: center;
  justify-content: center;
}

.modal {
  border: 10px solid #000000;
  padding: 58px 70px;
  background-color: #FFFFFF;
  position: relative;
}

.modal__header {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--black);
}

.modal__close {
  position: absolute;
  height: 50px;
  width: 50px;
  display: inline-flex;
  background-image: url(../images/icons/big-cross-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  right: 0;
  top: 0;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__close:focus {
  opacity: 1;
  box-shadow: 0 0 0 5px var(--violet);
}

.modal__close:active {
  opacity: 0.3;
}

.form-order {
  display: grid;

}

.form-order__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}
.label-order {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
}

.input-order {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--black);
  padding: 17px 47px 17px 17px;
  background-color: var(--light);
  width: 100%;
  border: 3px solid var(--light);
}

.input-order:hover {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
}

.input-order:focus {
  outline: 5px solid var(--violet);
  background-color: var(--light);
  border-color: var(--light);
}

.input-order:active {
  background-color: var(--white);
  border-color: var(--black);
  outline: none;
}

.input-order:invalid {
  border-color: var(--danger);
}

.field-group {

}

.counter-area {
  display: grid;
  grid-template-columns: 560px auto;
  gap: 0 40px;
}
.counter-group {
  display: grid;
  grid-template-columns: 50px 60px 50px;
  background-color: var(--light);
  border: 3px solid var(--light);
}




.counter-order {
  border: none;
  height: 32px;
  width: 32px;
  background-color: inherit;
}

.input-number-order[type="number"] {
  padding: 17px;

}
.input-number-order[type="number"]::-webkit-outer-spin-button,
.input-number-order[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-number-order[type='number'],
.input-number-order[type="number"]:hover,
.input-number-order[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.text-input-order {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
}

.input-order:invalid+.text-input-order {
  color: var(--danger);
}

.text-input-order--invalid {
  color: var(--danger);
}

.btn--order {
   justify-self: start;
}
