.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 5;
  align-items: center;
  justify-content: center;
}

.modal {
  border: 10px solid #000000;
  padding: 62px 70px;
  background-color: #FFFFFF;
  position: relative;
}

.modal__header {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--black);
  margin-bottom: 64px;
}

.modal__close {
  position: absolute;
  height: 50px;
  width: 50px;
  display: inline-flex;
  background-image: url(../images/icons/big-cross-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  right: 58px;
  top: 66px;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__close:focus {
  opacity: 1;
  box-shadow: 0 0 0 5px var(--violet);
}

.modal__close:active {
  opacity: 0.3;
  box-shadow: none;
}

.form-order {
  display: grid;
}

.form-order__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  margin-bottom: 7px;
}

.label-order__wrapper {
  position: relative;
}

.has-info {
  padding-right: 33px;
}

.label-order {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  margin-bottom: 13px;
  display: inline-block;
}

.info {
  position: absolute;
  height: 26px;
  width: 26px;
  background-color: var(--yellow);
  border-radius: 50%;
  border: none;
  outline: none;
  right: 0;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-top: 3px
}

.info:hover+.info-text {
  display: block;
}

.info-text {
  display: none;
  position: absolute;
  top: 32px;
  right: -34px;
  width: 200px;
  padding: 19px 17px 21px 19px;
  color: var(--white);
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  background-color: var(--black);
  z-index: 1;
}

.info:hover .info-text {
  display: block;
}

.info-text::before {
  position: absolute;
  content: "";
  left: 73%;
  top: -6px;
  background-image: url("../images/icons/triangle.svg");
  background-position: center;
  background-repeat:no-repeat;
  width: 14px;
  height: 6px;


}

.input-order {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 17px 47px 17px 17px;
  border: 3px solid var(--light);
  color: var(--black);
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  background-color: var(--light);
}

.input-order:hover {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
}

.input-order:focus {
  outline: 5px solid var(--violet);
  background-color: var(--light);
  border-color: var(--light);
}

.input-order:active {
  background-color: var(--white);
  border-color: var(--black);
  outline: none;
}

.input-order:invalid {
  border-color: var(--danger);
  outline: none;
}

.input-order.error {
  border-color: var(--danger);
}

.input-order:disabled,
.input-order:disabled:hover {
  background-color: var(--white);
  background-color: var(--black);
  opacity: 0.2;
}

.input-order::placeholder {
  color: #606060;
}

.field-group {}

.field-group--has-info {
  position: relative;
}

.field-group--has-info .label-order {
  padding-right: 34px;
}

.counter-area {
  display: grid;
  grid-template-columns: 560px auto;
  gap: 0 40px;
}

.counter-group {
  position: relative;
  width: 160px;
}

.counter-order {
  border: 2px solid transparent;
  width: 32px;
  height: 32px;
  background-color: inherit;
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

.counter-order:hover,
.counter-order:focus {
  opacity: 1;
}

.counter-order:focus {
  border-color: var(--violet);
}

.counter-order:active {
  border-color: transparent;
  opacity: 0.1;
}

.counter-order--minus {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/minus.svg");
  left: 10px;
  top: 14px;
}

.counter-order--plus {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/plus.svg");
  right: 12px;
  top: 14px;
}

.input-number-order[type="number"] {
  width: 100%;
  text-align: center;
  padding: 17px 50px;
  display: inline-block;
  background-color: var(--light);
  border: 3px solid var(--light);
}

.input-number-order[type="number"]::-webkit-outer-spin-button,
.input-number-order[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-number-order[type='number'],
.input-number-order[type="number"]:hover,
.input-number-order[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.input-number-order:focus {
  outline: 5px solid var(--violet);
}

.input-number-order:active {
  outline: 3px solid var(--black);
  outline-offset: -3px;
  background-color: var(--white);
}

.input-number-order:invalid {
  outline: 3px solid var(--danger);
  outline-offset: -3px;
  background-color: var(--white);
}

.text-input-order {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
}

.input-order:invalid+.text-input-order {
  color: var(--danger);
}

.text-input-order--invalid {
  color: var(--danger);
}

.btn--order {
  justify-self: start;
  margin-top: 40px;
  min-width: 200px;
}

.btn--order::before {
  background-color: var(--yellow-hover);
}
