/* Main header section of the page */
.page-header {
  color: var(--black);
}

.page-header a {
  color: var(--black);
  text-decoration: none;
}

/* top-header */
.top-header {
  display: flex;
  padding: 40px 0 28px 0;
  position: relative;
}

.page-header__logo {
  position: absolute;
  top: 17px;
}

.top-header__search {
  width: 50%;
  margin-right: 20px;
}

.top-header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(50% - 20px);
  font-size: 16px;
  line-height: 1;
}

.top-link {
  display: inline-block;
  border-radius: 20px;
  padding: 8px 0px 11px 26px;
  position: relative;
  font-size: 16px;
}

.top-link::before {
  display: block;
  position: absolute;
  left: 2px;
  width: 13px;
  height: 13px;
  content: " ";
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.top-link:focus {
  outline: 2px solid var(--violet);
}

.top-link:hover {}

.top-link:active {}

.top-header__links-login {
  display: flex;
  align-items: center;
}

.top-link--login::before {
  background-image: url(../images/icons/user.svg);
}

.top-link--compare {
  padding-left: 30px;
}

.top-link--compare::before {
  left: 10px;
  background-image: url(../images/icons/compare.svg);
}

.top-link--cart::before {
  width: 18px;
  left: -1px;
  background-image: url(../images/icons/cart.svg);
}

.top-header__links-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.cart-count {
  display: inline-flex;
  z-index: 1;
  position: absolute;
  top: 5px;
  left: -17px;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #ffffff;
}

.cart__pop-up {
  display: none;
  position: absolute;
}

.top-header__cart-wrapper {
  position: relative;
}

.top-header__cart-wrapper:hover .cart__pop-up {
  display: block;
  cursor: pointer;
}

/* navigation */
.page-header__navigation {
  position: relative;
  margin: 0px -57px;
  padding: 0 57px;
}
.main-nav {}

.main-nav__list {
  padding: 0 0 48px;
  display: flex;
}

.main-nav__item:first-child {
  width: 50%;
  margin-right: 20px;
}

.main-nav__item:not(:first-child):not(:last-child) {
  padding-right: 30px;
}

.main-nav__item:last-child {
  margin-left: auto;
}

.main-nav__link {
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway";
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.nav-dropdown__list {
  display:none;
    z-index: 1;
  position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    background-color: var(--yellow);

}

.nav-dropdown:hover .nav-dropdown__list {
  display: block;
}

.nav-dropdown__link {
  font-size: 16px;
}

.cart__pop-up {
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
  z-index: 1;
}

.pop-up__sum {
  background-color: #1a1a1a;
}

.pop-up__button-wrapper {
  background-color: var(--white);
}

.pop-up__button-link {
  color: var(--white);
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
