/* Main header section of the page */

.page-header {
  color: var(--black);
}
.page-header a {
  color: var(--black);
  text-decoration: none;
}
/* top-header */
.top-header {
  display: flex;
  padding: 40px 0 28px 0;
  position: relative;
}
.page-logo {
  position: absolute;
  top: 17px;
}
.top-header__search {
  width: 50%;
  margin-right: 20px;
}
.top-header__links {
  width: calc(50% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 1;
}

.top-link {
  display: inline-block;
  border-radius: 20px;
  padding: 12px 24px 12px 48px;
}
.top-link:focus {
  outline: 2px solid var(--violet);
}
.top-link:hover {
}
.top-link:active {
}

.top-header__links-login {
  display: flex;
  align-items: center;
}

.top-link--login {
}

.top-header__links-cart {
  display: flex;
  align-items: center;
}
.cart-count {
  display: inline-block;
  position: absolute;
}
.cart__pop-up {
  display: none;
  position: absolute;
}
.top-header__cart-wrapper:hover .cart__pop-up {
  display: block;
  cursor: pointer;
}
/* navigation */
.navigation {
}
.navigation__list {
  padding: 0 0 38px;
}
.navigation__item:first-child {
  width: 50%;
  margin-right: 20px;
}
.navigation__item:last-child {
  margin-left: auto;
}
