.site-contacts {
  padding-top: 57px;
  padding-bottom: 72px;
}

.site-contacts__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.site-contacts p {
  margin-top: 0;
  margin-bottom: 30px;
}

.site-contacts address {
  font-style: normal;
}

.site-contacts__block {
  padding-right: 45px;
}


.site-contacts__header {
  position: relative;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 46px;
  color: var(--black);
}

.site-contacts__header::before {
  position: absolute;
  top: -49px;
  width: 80px;
  height: 7px;
  content: "";
  background-color: var(--black);
}

.site-contacts h3 {
  color: var(--dark);
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}

.site-contacts__phone {
  text-decoration: underline;
  cursor: pointer;
  color: var(--dark);
  position: relative;
  top: -30px;
}

.site-contacts__phone:hover {
  opacity: 0.5;
}

.site-contacts__phone:focus {
  opacity: 1;
  outline: 5px solid var(--violet);
}

.site-contacts__phone:active {
  opacity: 0.3;
  outline: none;
}

.site-contacts__list {
  margin: 0;
  margin-top: 75px;
  padding: 0;
  list-style-type: none;
}

.site-contacts__item {
  position: relative;
  color: var(--black);
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 35px;
}

.site-contacts__item::before {
  display: inline-flex;
  position: absolute;
  top: 6px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  content: "";
  background-color: var(--yellow-hover);
}

.site-contacts__work-time {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  padding-bottom: 3px;
  list-style-type: none;
}

.subscribe {
  background-color: var(--light);
  padding-top: 75px;
  padding-bottom: 131px;
}

.subscribe__header {
  font-family: "Raleway", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: var(--black);
  margin-top: 0;
  font-size: 50px;
  line-height: 1;
}

.subscribe__text {
  margin-top: 0;
  margin-bottom: 30px;
}

.subscribe__text:first-child {
  margin-top: 10px;
}

.subscribe__form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}

.subscribe__form {
  flex-basis: 861px;
  display: flex;
}

.subscribe__form-input {
  outline: none;
  font-size: 18px;
  line-height: 30px;
  color: var(--dark);
  flex-grow: 1;
  border: none;
  border-bottom: 3px solid #d8d8d8;
  background-color: inherit;
  font-family: "Rubik", "Arial", sans-serif;
}

.subscribe__form-input::placeholder {
  color: var(--dark);
  opacity: 0.5;
}

.subscribe__form-input:focus {
  background-color: var(--gray);
  color: #909090;
}

.subscribe__form-input:hover {
  background-color: inherit;
  color: #787878;
}

.subscribe__form-input:hover::placeholder {
  opacity: 0.7;
}

.subscribe__form-input:active {
  background-color: inherit;
  color: var(--dark);
  border-color: var(--black);
}

.subscribe__form-input.error {
  background-color: inherit;
  color: var(--dark);
  border-color: var(--danger);
}

.subscribe__form-input:disabled,
.subscribe__form-input:disabled:hover {
  opacity: 0.2;
  background-color: var(--light);
  cursro: default;
}

.subscribe__button {
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 14px 38px 14px;
  border: 3px solid #d8d8d8;
  outline: none;
}

.subscribe__button:hover {
  border: 3px solid var(--black);
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

.subscribe__button:focus {
  border-color: var(--violet);
}

.subscribe__button:active {
  color: #4c4c4c;
  border-color: var(--black);
}

.subscribe__button:disabled,
.subscribe__button:disabled:hover {
  opacity: 0.2;
  background-color: var(--light);
  border-color: var(--black);
  color: var(--black);
  cursor: default;
  border: none;
}

.subscribe__span {
  position: relative;
  padding-left: 37px;
}

.subscribe__span::before {
  content: "";
  background-image: url("../images/icons/tick-big.svg");
  height: 14px;
  width: 14px;
  position: absolute;
  left: 0;
  top: 8px;
}
