.page-slider {
  position: relative;

}


.slider__dots {
  position: absolute;
  bottom: 182px;
  right: 69px;
}
.slider__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}
.slider__item:last-of-type {
  display: none;
}
.slider__item:nth-last-child(2) {
  display:none;
}
h1 + .slider .slider__item::before {
  content: "";
  position: absolute;
  background-color: var(--yellow);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 115px;
  z-index: -1;
}
.slider__buttons {
  position: absolute;
  width: calc(50% - 29px);
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-74%);
  padding-left: 10px;
}
.arrow {
  width: 40px;
  height: 80px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
  border-radius: 6px;
}

.arrow--left {
  background-image: url("../images/icons/left-tall-arrow.svg");
}

.arrow--right{
  background-image: url("../images/icons/right-tall-arrow.svg");
}

.arrow:focus {
  outline: 1px solid var(--purple);
}
.arrow:hover {
  opacity: 0.6;
}
.arrow:active {
  opacity: 0.3;
}
.slider__image-area {

}
.slider__img {
  margin-top: -35px;
}
.slider__content-area {
  position: relative;
  padding-top: 85px;
}
.slider__order {
  position: absolute;
  right: 50px;
    top: -28px;
  color: var(--white);
  font-size: 180px;
  line-height: 1;
  font-family: "Rubik";
  font-weight: 800;
  background-color: var(--black);
}

.slider__lead-text {
  color: var(--black);
  font-size: 50px;
  line-height: 1;
  font-family: Raleway;
  font-weight: 800;
}

.slider__description {
  display: flex;
}
.slider__description-row {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 25px;
  margin-right: 20px;

}
.slider__description dt {
  margin-left: 0;
  font-size:16px;
}
.slider__description dd {
  color: var(--black);
  font-size: 36px;

  margin-left: 0;
}
