header.page-header
    .top-header
        form.top-header__search-form
            input(placeholder="Поиск по сайту").search
        .top-header__links
            a(href="#").header-link Войти
            a(href="#").header-link Сравнить
            .top-header__cart-wrapper.cart
                span.cart_count 
                a(href="#").header-link Корзина
                div.pop-up.cart__pop-up
                    .pop-up__item
                        p.pop-up__item
                            img(src="#" alt="").pop-up__item-img
                            | Любительская селфи-палка
                            button(type="button")

    nav.nav
        a(href="#")
            img(src="#" alt="Описание картинки").logo
        ul.nav__list
            li.nav__item
                a(href="# ").nav__link.catalog Каталог Товаров
                    ul.catalog-list
                        li.catalog__item
                            a(href="#").catalog__link Виртуальная реальность
                        li.catalog__item
                            a(href="#").catalog__link Моноподы для селфи
                        li.catalog__item
                            a(href="#").catalog__link Экшн-камеры
                        li.catalog__item
                            a(href="#").catalog__link Финтнес-браслеты
                        li.catalog__item
                            a(href="#").catalog__link Умные часы
                        li.catalog__item
                            a(href="#").catalog__link Квадрокоптеры

                    
            li.nav__item
                a(href="# ").nav__link Доставка
            li.nav__item
                a(href="# ").nav__link Гарантия
            li.nav__item
                a(href="# ").nav__link Контакты


main
    h1.visually-hidden Интернет-магазин Device
    section.slider
        .slider__item
            .slider__image-area
                img(src="#").slider__img
                .slider__buttons
                    button(type="button").arrow-left
                    button(type="button").arrow-right
            .slider__content__area
                span.slider__order 01
                p
                    b Порхает как бабочка, жалит как пчела!
                P
                    | Этот обычный, на первый взгляд, квадрокоптер оснащен мощным лазером,
                    | замаскированным под стандартную камеру.  
                a(href="#").btn
                table.slider__table
                    tr
                        td Дальность полета
                        td 800 м
                    tr
                        td Радиус поражения
                        td 50 м
                .slider__dots
                    button(type="button").dot.dot--active
                    button(type="button").dot
                    button(type="button").dot
        .slider__item
            .slider__image-area
                img(src="#").slider__img
                .slider__buttons
                    button(type="button").arrow-left
                    button(type="button").arrow-right
            .slider__content__area
                span.slider__order 02
                p
                    b Худеем правильно
                P
                    | Мотивирующие фитнес-браслеты помогут найти в себе силы не пропускать занятия и соблюдать диету.
                a(href="#").btn
                table.slider__table
                    tr
                        td Без подзарядки
                        td 48 часов
                .slider__dots
                    button(type="button").dot.dot--active
                    button(type="button").dot 
                    button(type="button").dot
        .slider__item
            .slider__image-area
                img(src="#").slider__img
                .slider__buttons
                    button(type="button").arrow-left
                    button(type="button").arrow-right
            .slider__content__area
                span.slider__order 03
                p
                    b Делай селфи, как Бен Стиллер! 
                P
                    | Самая длинная палка для селфи доступна в нашем магазине. 
                    | Восемь (Восемь, Карл!) метров длиной и весом всего 5 кг.
                a(href="#").btn
                table.slider__table
                    tr
                        td Длина палки
                        td 8,5 м
                    tr
                        td Вес палки
                        td 5 кг
                    tr
                        td Материал
                        td Карбон
                .slider__dots
                    button(type="button").dot.dot--active
                    button(type="button").dot
                    button(type="button").dot
    section.categories
        h2.visually-hidden Категории товаров
        ul.categories__list
            li.categories__item
                a(href="#").categories__link
                    .categories__icon-box
                    h3.categories__name Виртуальная реальность
            li.categories__item
                a(href="#").categories__link
                    .categories__icon-box
                    h3.categories__name Моноподы для селфи
            li.categories__item
                a(href="#").categories__link
                    .categories__icon-box
                    h3.categories__name Экшн-камеры
            li.categories__item
                a(href="#").categories__link
                    .categories__icon-box
                    h3.categories__name Фитнес-браслеты
            li.categories__item
                a(href="#").categories__link
                    .categories__icon-box
                    h3.categories__name Умные часы
            li.categories__item
                a(href="#").categories__link
                    .categories__icon-box
                    h3.categories__name Квадрокоптеры
    section.advantages
        .advantages__buttons-area
            button(type="button").btn.btn--selected
            button(type="button").btn
            button(type="button").btn.btn--selected
        .advantages__content
        q
footer.page-footer