section.advantages
    .advantages__buttons-area
        button(type="button").btn.btn--selected Доставка
        button(type="button").btn Гарантия
        button(type="button").btn Кредит
    .advantages__content
        .advantages__item.advantages--delivery
            h3.advantages__header Доставка
            p
                |   Мы с удовольствием доставим ваш товар прямо
                |   к вашему подъезду совершенно бесплатно! Ведь
                |   мы неплохо заработаем, поднимая его на ваш этаж.
        .advantages__item.advantages--garanty
            h3.advantages__header Гарантия
            p
                |   Если из-за возгорания купленного у нас товара у вас
                |   сгорит дом — не переживайте, мы выдадим вам новый.
                |   Товар, не дом, конечно же.
        .advantages__item.advantages--credit
            h3.advantages__header Гарантия
            p
                |   Залезть в долговую яму стало проще!
                |   Кредитные консультанты подберут для вас наиболее выгодные условия кредита.
                |   Выгодные для банка, разумеется.
.notation
    .notation__wpapper
        .notation__img-area
        p.notation__text Доставим редкий товар под заказ
        .notation__icon
