section.advantages
	.container.d-flex
		.advantages__controls
			ul.advantages__controls-list
				li.advantages__controls-item.advantages__controls-item--selected
					button(type="button").btn.btn--advantages Доставка
				li.advantages__controls-item
					button(type="button").btn.btn--advantages Гарантия
				li.advantages__controls-item
					button(type="button").btn.btn--advantages Кредит

		.advantages__content
			.advantages__item.advantages__item--delivery
				h3.advantages__header Доставка
				p.advantages__text
					|   Мы с удовольствием доставим ваш товар прямо <br>
					|   к вашему подъезду совершенно бесплатно! Ведь
					|   мы неплохо заработаем, поднимая его на ваш этаж.
			.advantages__item.advantages__item--garanty
				h3.advantages__header Гарантия
				p.advantages__text
					|   Если из-за возгорания купленного у нас товара у вас
					|   сгорит дом — не переживайте, мы выдадим вам новый.
					|   Товар, не дом, конечно же.
			.advantages__item.advantages__item--credit
				h3.advantages__header Гарантия
				p.advantages__text
					|   Залезть в долговую яму стало проще!
					|   Кредитные консультанты подберут для вас наиболее выгодные условия кредита.
					|   Выгодные для банка, разумеется.
.special-offer
	.container
		a(href="#").special-offer__link
			//-Иконка через бэкграунд
			p.special-offer__text Доставим редкий товар под заказ
			//- .special-offer__icon.special-offer__icon--truck
