section.categories
    h2.visually-hidden Категории товаров
    ul.categories__list
        li.categories__item
            a(href="#").categories__link
                .categories__icon-box
                h3.categories__name Виртуальная реальность
        li.categories__item
            a(href="#").categories__link
                .categories__icon-box
                h3.categories__name Моноподы для селфи
        li.categories__item
            a(href="#").categories__link
                .categories__icon-box
                h3.categories__name Экшн-камеры
        li.categories__item
            a(href="#").categories__link
                .categories__icon-box
                h3.categories__name Фитнес-браслеты
        li.categories__item
            a(href="#").categories__link
                .categories__icon-box
                h3.categories__name Умные часы
        li.categories__item
            a(href="#").categories__link
                .categories__icon-box
                h3.categories__name Квадрокоптеры