section.categories
    h2.visually-hidden Категории товаров
    ul.categories__list
        li.categories__item
            a(href="#").categories__link
                .icon-box icon-box--vr
                h3.categories__name Виртуальная реальность
        li.categories__item
            a(href="#").categories__link
                .icon-box icon-box--monopod
                h3.categories__name Моноподы для селфи
        li.categories__item
            a(href="#").categories__link
                .icon-box icon-box--gopro
                h3.categories__name Экшн-камеры
        li.categories__item
            a(href="#").categories__link
                .icon-box icon-box--fit-tracker
                h3.categories__name Фитнес-браслеты
        li.categories__item
            a(href="#").categories__link
                .icon-box icon-box--smart-watch
                h3.categories__name Умные часы
        li.categories__item
            a(href="#").categories__link
                .icon-box icon-box--quadrocopter
                h3.categories__name Квадрокоптеры
