a(href="#").footer-brand
	img(alt="Описание картинки").logo.logo--footer
address.footer-address Санкт-Петербург, набережная реки Карповки, 5, литера П.
ul.footer-nav
	li.footer-nav__item
		a(href="#").footer-nav__link Доставка
	li.footer-nav__item
		a(href="#").footer-nav__link Гарантия
	li.footer-nav__item
		a(href="#").footer-nav__link Контакты
ul.footer-social
	li.footer-social__item
		a(href="https://www.facebook.com/htmlacademy").social.social--fb
			span.visually-hidden Фейсбук
	li.footer-social__item
		a(href="https://www.instagram.com/htmlacademy").social.social--inst
			span.visually-hidden Инстаграм
	li.footer-social__item
		a(href="https://twitter.com/htmlacademy_ru").social.social--tw
			span.visually-hidden Твиттер
address.footer-phone
	a(href="tel:+78128121212") +7 (812) 812-12-12
.footer-made
	a(href="https://htmlacademy.ru/").footer-made__link
		img(src="#" alt="Описание картинки").footer-made__image
