if mainpage
	a.page-footer__logo.logo
		img(alt="Логотип магазина Device" src="#").logo__img.logo__img--footer
else
	a(href="/").page-footer__logo.logo
		img(alt="Логотип магазина Device" src="#").logo__img.logo__img--footer
address.page-footer__address Санкт-Петербург, набережная реки Карповки, 5, литера П.
ul.page-footer__nav
	li.page-footer__item
		a(href="#").page-footer__link Доставка
	li.page-footer__item
		a(href="#").page-footer__link Гарантия
	li.page-footer__item
		a(href="#").page-footer__link Контакты
ul.page-footer__socials.socials
	li.socials__item
		a(href="https://www.facebook.com/htmlacademy" target="_blank").socials__link.socials__link--fb
			span.visually-hidden Фейсбук
	li.socials__item
		a(href="https://www.instagram.com/htmlacademy" target="_blank").socials__link.socials__link--inst
			span.visually-hidden Инстаграм
	li.socials__item
		a(href="https://twitter.com/htmlacademy_ru" target="_blank").socials__link.socials__link--tw
			span.visually-hidden Твиттер
address.page-footer__phone
	a(href="tel:+78128121212") +7 (812) 812-12-12
.page-footer__copyright.copyright
	a(href="https://htmlacademy.ru/" target="_blank").copyright__link
		img(src="#" alt="Описание картинки").copyright__image
