nav.main-nav.page-header__navigation
	ul.main-nav__list
		li.main-nav__item.nav-dropdown
			a(href="#").main-nav__link Каталог товаров
			.nav-dropdown__list
				.nav-dropdown__col
					a(href="#").nav-dropdown__link Виртуальная реальность
					if mainpage
						a(href="monopods.html").nav-dropdown__link Моноподы для селфи
					else
						a.nav-dropdown__link.nav-dropdown__link--active Моноподы для селфи
					a(href="#").nav-dropdown__link Экшн-камеры
				.nav-dropdown__col
					a(href="#").nav-dropdown__link Фитнес-браслеты
					a(href="#").nav-dropdown__link Умные часы
				.nav-dropdown__col
					a(href="#").nav-dropdown__link Квадрокоптеры


		li.main-nav__item
			a(href="# ").main-nav__link Доставка
		li.main-nav__item
			a(href="# ").main-nav__link Гарантия
		li.main-nav__item
			a(href="# ").main-nav__link Контакты
