nav.nav
    a(href="#")
        img(src="#" alt="Описание картинки").logo
    ul.nav__list
        li.nav__item
            a(href="# ").nav__link.catalog Каталог Товаров
                ul.catalog-list
                    li.catalog__item
                        a(href="#").catalog__link Виртуальная реальность
                    li.catalog__item
                        a(href="#").catalog__link Моноподы для селфи
                    li.catalog__item
                        a(href="#").catalog__link Экшн-камеры
                    li.catalog__item
                        a(href="#").catalog__link Финтнес-браслеты
                    li.catalog__item
                        a(href="#").catalog__link Умные часы
                    li.catalog__item
                        a(href="#").catalog__link Квадрокоптеры


        li.nav__item
            a(href="# ").nav__link Доставка
        li.nav__item
            a(href="# ").nav__link Гарантия
        li.nav__item
            a(href="# ").nav__link Контакты