nav.navigation
    ul.navigation__list
        li.navigation__item
            a.catalog.navigation__link Каталог товаров
            ul.catalog__list.visually-hidden
                li.catalog__item
                    a(href="#").catalog__link Виртуальная реальность
                li.catalog__item
                    a(href="#").catalog__link Моноподы для селфи
                li.catalog__item
                    a(href="#").catalog__link Экшн-камеры
                li.catalog__item
                    a(href="#").catalog__link Финтнес-браслеты
                li.catalog__item
                    a(href="#").catalog__link Умные часы
                li.catalog__item
                    a(href="#").catalog__link Квадрокоптеры


        li.navigation__item
            a(href="# ").navigation__link Доставка
        li.navigation__item
            a(href="# ").navigation__link Гарантия
        li.navigation__item
            a(href="# ").navigation__link Контакты
