section.site-contacts
	.container.site-contacts__grid
		div.site-contacts__block.site-contacts__block--about-us
			h2.site-contacts__header O нас
			p  Огромный выбор гаджетов не оставит равнодушным <br> гика, который есть в каждом из нас.
			p  Мы можем доставить ваш товар в самые отдалённые уголки России транспортными компаниями:
			ul.site-contacts__list
				li.site-contacts__item Меловые линии
				li.site-contacts__item СДИК
				li.site-contacts__item ТоксБерри
			a(href="#").btn.btn--site-contacts Подробнее о нас
		div.site-contacts__block.site-contacts__block--adress
			h2.site-contacts__header Контакты
			p
				| Вы можете забрать товар сами, заехав в наш офис.
				| Заодно, сможете проверить работоспособность покупки.
			h3 Интернет-магазин «Девайс»
			address
				p   Санкт-Петербург, набережная реки Карповки, 5, литера П.
				a(href="tel:+78128121212").site-contacts__phone +7 (812) 812-12-12
			h3 Время работы
			ul.site-contacts__work-time
				li пн—пт: с 10:00 до 22:00
				li сб—вс: с 10:00 до 19:00
			a(href="#").btn.btn--site-contacts Напишите нам


section.subscribe
	.container
		.row
			.col
				h2.subscribe__header Подпишитесь <br> на рассылку

			.col
				p.subscribe__text
					| Еженедельный дайджест с обзорами новинок, <br>
					| длительными тест-драйвами, распаковками, а также акции, спецпредложения и вот это вот всё.

		.subscribe__form-wrapper
			form(action="https://echo.htmlacademy.ru/" method="post").subscribe__form
					input(placeholder="Ваш e-mail" type="email" name="subscribe_email" required).subscribe__form-input
					button(type="submit").subscribe__button Подписаться
			span.subscribe__span Это бесплатно
