h1.visually-hidden Интернет-магазин Device
section.slider.page-slider
	.container
		h2.visually-hidden Популярные товары
		.slider__buttons
			button(type="button").arrow.arrow--left
			button(type="button").arrow.arrow--right
		.slider__dots
			button(type="button").dot.dot--active
			button(type="button").dot
			button(type="button").dot
		.slider__item
			.slider__image-area
				img(src="images/slider/quadrocopter.png" width="560" height="560" alt='Боевой лазерный квадрокоптер').slider__img
			.slider__content-area
				span.slider__order 01
				p.slider__lead-text Порхает как бабочка, жалит как пчела!
				P
					| Этот обычный, на первый взгляд, квадрокоптер оснащен мощным лазером,
					| замаскированным под стандартную камеру.
				a(href="#").btn.btn--slider Подробнее
				dl.slider__description
					div.slider__description-row
						dt Дальность полета
						dd 800 м
					div.slider__description-row
						dt Радиус поражения
						dd 50 м
		.slider__item
			.slider__image-area
				img(src="images/slider/fitnestracker.png" width="560" height="560" alt="Фитнес-браслет").slider__img
			.slider__content-area
				span.slider__order 02
				p.slider__lead-text Худеем правильно
				P
					| Мотивирующие фитнес-браслеты помогут найти в себе силы не пропускать занятия и соблюдать диету.
				a(href="#").btn.btn--slider Подробнее
				dl.slider__description
					div.slider__description-row
						dt Без подзарядки
						dd 48 часов
		.slider__item
			.slider__image-area
				img(src="images/slider/monopod.png" width="560" height="560"  alt="Восьмиметровая селфи-палка").slider__img
			.slider__content-area
				span.slider__order 03
				p.slider__lead-text Делай селфи, как Бен Стиллер!
				P
					| Самая длинная палка для селфи доступна в нашем магазине.
					| Восемь (Восемь, Карл!) метров длиной и весом всего 5 кг.
				a(href="#").btn.btn--slider Подробнее
				dl.slider__description
					div.slider__description-row
						dt Длина палки
						dd 8,5 м
					div.slider__description-row
						dt Вес палки
						dd 5 кг
					div.slider__description-row
						dt Материал
						dd Карбон
