if mainpage
	a().page-header__logo.logo
		img(src="images/logo.png" width="145" height="36" alt="Логотип магазина Device").logo__img.logo__img--header
else
	a(href='/').page-header__logo.logo
		img(src="images/logo.png" width="145" height="36" alt="Логотип магазина Device").logo__img.logo__img--header
.top-header
	form(action="https://echo.htmlacademy.ru/" method="get").top-header__search.search
		input(placeholder="Поиск по сайту" name="search" type="search")
		button(type="submit") Найти
	.top-header__links
		.top-header__links-login
			if mainpage
				a(href="#").top-link.top-link--login  Войти
				a().top-link.top-link--logout
			else
				a(href="#").top-link.top-link--login  Коля Петухов
				a(href="#").top-link.top-link--logout Выйти
		.top-header__links-cart
			a(href="#").top-link.top-link--compare Сравнить
			.top-header__cart-wrapper.cart
				span.cart-count 2
				a(href="#").top-link.top-link--cart Корзина
				.pop-up.cart__pop-up
					.pop-up__list
						p.pop-up__item
							img(src="images/content/thubnails/selfi-small.jpg" alt="Любительская селфи-палка").pop-up__item-img
							| Любительская <br> селфи-палка
							button(type="button").pop-up__delete
								svg(width='11', height='11', viewbox='0 0 11 11', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(d='M11 1L10 0L5.5 4.5L1 0L0 1L4.5 5.5L0 10L1 11L5.5 6.5L10 11L11 10L6.5 5.5L11 1Z', fill='white')
						p.pop-up__item
							img(src="images/content/thubnails/selfi-2-small.jpg" alt="Любительская селфи-палка").pop-up__item-img
							| Профессиональная <br> селфи-палка
							button(type="button").pop-up__delete
					.pop-up__sum
						p Товаров:
							span.pop-up__sum-count  2
						p Сумма:
							span.pop-up__sum-price  2000 &#8381;
					.pop-up__button-wrapper
						a(href="#").pop-up__button-link Открыть корзину
