.top-header
    form.top-header__search-form
        input(placeholder="Поиск по сайту").search
    .top-header__links
        a(href="#").header-link Войти
        a(href="#").header-link Сравнить
        .top-header__cart-wrapper.cart
            span.cart_count 
            a(href="#").header-link Корзина
            div.pop-up.cart__pop-up
                .pop-up__item
                    p.pop-up__item
                        img(src="#" alt="").pop-up__item-img
                        | Любительская селфи-палка
                        button(type="button")