/**
 * Общая типографика сайта
 * Используются селекторы по тегам, без классов,
 */
:root {
  --black: #000000;
  --dark: #444444;
  --gray: #dcdcdc;
  --light-gray: #ebebebb;
  --light: #f0f0f0;
  --white: #ffffff;
  --yellow: #ffe17f;
  --yellow-hover: #ffc700;
  --violet: #af4fff;
  --danger: #ff3d3d;
  --warning: #fd912e;
  --success: #08af00;
  transition: all 0.3s;
}

html {
  box-sizing: border-box;
  color: var(--dark);
  font-size: 18px;
  line-height: 1.66;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 40px;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  color: var(--black);
}

h4,
h5,
h6 {
  font-family: "Rubic", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 18px;
  letter-spacing: 20%;
}

h4 {
  font-size: 18px;
}

a {
  text-decoration: none;
  border: none;
}

a:focus {
  outline: 2px solid var(--violet);
}

a:hover {
  cursor: pointer;
}

button {
  outline: 0;
}

button:focus {
  border: 2px solid var(--violet);
}

input {
  outline: 0;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

p {
  margin-bottom: 38px;
}

.hide {
  display: none;
}

.perfectpixel {
  opacity: 0.3;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 4000px;
  background-image: url(../images/perfectpixel.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  pointer-events: none;
}

#perfectpixel-btn {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-radius: 20px;
  bottom: 20px;
  right: 20px;
  height: 100px;
  width: 100px;
  cursor: pointer;
  transition: all .6s;

  background: #ff00cc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333399, #ff00cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#perfectpixel-btn:hover {
  background: #ff00cc;
  text-decoration: underline;
  bottom: 25px;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff00cc, #333399);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff00cc, #333399);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
