/**
 * Общая типографика сайта
 * Используются селекторы по тегам, без классов,
 */
:root {
  --black: #000000;
  --dark: #444444;
  --gray: #dcdcdc;
  --light-gray: #ebebeb;
  --light: #f0f0f0;
  --white: #ffffff;
  --yellow: #ffe17f;
  --yellow-hover: #ffc700;
  --violet: #af4fff;
  --danger: #ff3d3d;
  --warning: #fd912e;
  --success: #08af00;
  transition: all 0.3s;
}

html {
  box-sizing: border-box;
  color: var(--dark);
  font-size: 18px;
  line-height: 1.67;
  height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
 // outline: 1px solid var(--violet);
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 40px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-family: "Raleway", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: var(--black);
  margin-top: 0;

}

h4,
h5,
h6 {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
}

h1, h2 {
  font-size: 50px;
  line-height: 1;
}

h2 {

}

h3 {
  font-size: 18px;
  letter-spacing: 20%;
}

h4 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--dark);
  border: none;
}


a:hover {
  cursor: pointer;
}
address {
  font-style: normal;
}
button {
  outline: 0;
}

button:focus {
  border: 2px solid var(--violet);
}

input {
  outline: 0;
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
 }

p {
  margin-top: 0;
  margin-bottom: 30px;
}

.page-main {
  flex-grow: 1;
}

.d-flex {display: flex;}
.bg-yellow {

  background-color: var(--yellow);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.show {
  display: block;
}

.perfectpixel {
  opacity: 0.3;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 4000px;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: 50% 0;

}

.bg-index{
  background-image: url(../images/innermenu.png); //perfectpixel.png or innermenu.png
}
.bg-monopod {
  background-image: url(../images/monopod.png); //monopod.png or popupcart.png
}
.bg-grid {
  background-image: url(../images/grid.png);
}
.perfectpixel-btn {
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 20px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: all .6s;
  background: #ff00cc;
  z-index: 100;


  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333399, #ff00cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.perfectpixel-btn:hover {
  background: #ff00cc;

 transform: scale(1.1);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff00cc, #333399);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff00cc, #333399);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#btn--index {

}

#btn--grid {
  bottom: 140px
}
#btn--monopod {
  bottom: 260px
}
