.container {
  width: 1160px;
  margin: 0 auto;
}
.container--page-header {
  padding: 0 60px;
  background-color: #ffe17f;
}
.container--grid {
  display: flex;


}

.sidebar-grid {
  background-color: var(--light-gray);
  width: 33%;
}
