.container {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
.container--page-header {
  padding: 0 57px;
  background-color: #ffe17f;
}
.container--categories {
  padding-top: 70px;
}
.container--advantages{
  display:flex;
  padding-top: 65px;
  padding-bottom: 110px;

}
.container--special-offer {
  padding-top: 90px;
  padding-bottom: 75px;
}

.container--site-contacts {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding-bottom: 75px;
}
.container--subscribe {

  padding-top: 77px;
  padding-bottom: 143px;
}
.container--page-footer {
  padding-top: 62px;
  padding-bottom: 10px;
}

.container--content-header {
  padding: 37px 61px 43px;
}
.container--grid {
  display: flex;
}

.row {
  display: flex;
  margin: 0 -20px;
}
.row--shop-page {
  margin: 0;
}


.col {
  width: 50%;
  padding: 0 20px;
}
.col-sidebar {
  width: 329px;;
  padding-left: 20px;
  position: relative;
}
.col-sidebar::before {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  content: "";
  background-color: var(--light);
}

.col-shop {
  width: calc(100% - 329px);
  padding-left: 72px;
  position: relative;

}
.col-shop::before {
  background-color: var(--light);
  content: '';
  height: 70px;
  width: 100vw;
  top: 0;
  left: 0;

  position: absolute;
  z-index: -1;
}
.sidebar-grid {
  background-color: var(--light-gray);

}

.d-flex {
  display: flex;
}
