.container {
  width: 1160px;
  margin: 0 auto;
}
.container--page-header {
  padding: 0 57px;
  background-color: #ffe17f;
}
.container--categories {
  padding-top: 70px;
}
.container--advantages{
  display:flex;
  padding-top: 65px;
  padding-bottom: 110px;

}
.container--special-offer {
  padding-top: 90px;
  padding-bottom: 75px;
}

.container--site-contacts {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding-bottom: 75px;
}
.container--subscribe {

  padding-top: 77px;
  padding-bottom: 143px;
}
.container--page-footer {
  padding-top: 62px;
  padding-bottom: 3px;
}
.container--grid {
  display: flex;


}

.row {
  display: flex;
  margin: 0 -20px;
}

.col-6 {
  width: 50%;
  padding: 0 20px;
}

.sidebar-grid {
  background-color: var(--light-gray);
  width: 33%;
}

.d-flex {
  display: flex;
}
