/* Regular link-button */
.btn {
  display: inline-block;
  position: relative;
  min-width: 260px;
  padding: 14px 10px 15px;
  border: none;
  outline: none;
  color: var(--black);
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", "Tahoma", sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
}

.btn::before {
  display: block;
  z-index: -1;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 100%;
  height: 8px;
  content: "";
  background-color: var(--yellow);
  transition: height 0.3s;
  transform: translateY(-50%);
}

.btn:hover::before {
  height: 100%;
}

.btn:focus {
  outline: none;
}

.btn:focus::before {
  background-color: var(--violet);
}

.btn:active {
  color: #b39e59;
  background-color: var(--yellow);
}

.btn:active::before {
  background-color: transparent;
}

.btn:disabled,
.btn:disabled:hover {
  opacity: 0.2;
  background-color: var(--light);
  border-color: var(--black);
  color: var(--black);
  cursor: default;
  border: none;
}

/* Advantages link-button */
.btn--advantages {
  padding: 9px 10px 11px;
  min-width: 160px;
  font-family: "Raleway", "Tahoma", sans-serif;
  color: var(--black);
  margin-left: 1px;
}

.btn--advantages::before {
  background-color: var(--yellow-hover);
  top: 46%;
}

.btn--advantages:active {
  color: var(--yellow);
}

.btn--advantages:active {
  background-color: var(--black);
}

.btn--advantages:active::before {
  background-color: var(--black);
}

.advantages__controls-item--selected {
  background-color: var(--black);
}

.advantages__controls-item--selected .btn--advantages {
  color: var(--yellow);
  background-color: var(--black);
}

.advantages__controls-item--selected .btn--advantages::before {
  background-color: var(--black);
}

.advantages__controls-item--selected .btn--advantages:hover:not(:focus)::before {
  background-color: var(--black);
}

.advantages__controls-item--selected .btn--advantages:focus::before {
  background-color: var(--black);
}

/* Catalog link-button */
.btn--catalog {
  padding-top: 9px;
  padding-bottom: 10px;
  min-width: 180px;
}

.btn--catalog::before {
  background-color: var(--yellow-hover);
}

.btn--sort {
  min-width: 200px;
  padding-top: 9px;
  padding-bottom: 10px;
  margin-left: 4px;
}

.btn--sort::before {
  background-color: var(--yellow-hover);
}

.btn--sort:active {
  background-color: var(--yellow-hover);
  color: #b38c00;
}

/* Slider link-button */
.btn--slider {
  margin-top: 6px;
  min-width: 220px;
}
/* Slider link-button */
.btn--site-contacts {
  margin-top: 38px;
  margin-left: 2px;
}
