doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Заголовок
		meta(name='keywords' content='One, two, three, four, five')
		link(rel='stylesheet' href='css/main.css')
		//- Фавикон иконки начало

		link(rel='icon', type='image/png', sizes='32x32', href='images/favicon-32x32.png')

		//- Фавикон иконки конец
	block vars
	body.page

		header.page-header
			.container.bg-yellow.page-header__container
				block header

		if mainpage
			main.page-main
				block main
		else
			main.page-main.overflow-hidden
				block main
		footer.page-footer
			.container
				block footer
		include ../../pug/particials/modal.pug





