extends pug/layouts/main.pug

block header
	include pug/particials/top-header.pug
	include pug/particials/nav.pug

block main
	header.content-header
		h1 Моноподы для селфи
		ul.breadcrumbs
			li.breadcrumbs__item
				a(href="/").breadcrumbs__link Главная
			li.breadcrumbs__item
				a(href="#").breadcrumbs__link Каталог товаров
			li.breadcrumbs__item
				a.breadcrumbs__link Мопоподы для селфи
	section.content-sort
		h2.visually-hidden Фильтр товаров
		p Фильтр:
		form(method="post" action="https://echo.htmlacademy.ru/").content-sort__form
			fieldset.content-sort__form-widget
				legend Стоимость
				button.range-toggle.toggle-min(type='button')
					span.visually-hidden Изменить минимальную цену.
				button.range-toggle.toggle-max(type='button')
					span.visually-hidden Изменить максимальную цену.
				label.catalog-filter-label
					| От
					input.catalog-filter-input(type='number' name='min-price')
					|  &#x20BD;
				label.catalog-filter-label
					| До
					input.catalog-filter-input(type='number' name='max-price')
					|  &#x20BD;

			fieldset.content-sort__form-widget
				legend Цвет
				label.checkbox
					input(type="checkbox" name="black" value="black" checked)
					| Черный
				label.checkbox
					input(type="checkbox" name="white" value="white" checked)
					| Белый
				label.checkbox
					input(type="checkbox" name="blue" value="blue")
					| Синий
				label.checkbox
					input(type="checkbox" name="red" value="red")
					| Красный
				label.checkbox
					input(type="checkbox" name="pink" value="pink")
					| Розовый
				fieldset.content-sort__form-widget
					legend Bluetooth
					label.radio
						input(type="radio" name="bluetooth" value="is-bluetooth" checked)
						| Есть
					label.radio
						input(type="radio" name="bluetooth" value="no-bluetooth")
						| Нет
			button(type="submit") Показать
	section.content-shop
		header.content-shop__header
			h2 Сортировка:
			form.sorting-type
				label.visually-hidden(for="sorting") Отсортировать товары
				select#sorting.select-control(name="sorting")
					option(value="popular") Сначала популярные
					option(value="cheap") Сначала дешевые
					option(value="expensive") Сначала дорогие
				label.sort-by.sort-by--less
					span.visually-hidden Сортируем от меньшего к большему
					input(type="radio" name="sort_by")
				label.sort-by.sort-by--more.sort-by--selected
					span.visually-hidden Сортируем от большего к меньшему
					input(type="radio" name="sort_by" cheked)
				button.visually-hidden(type='submit') Отсортировать товары
		.shop-grid
			.shop-grid__item.goods
				span.goods__bage New
				img.goods__img(src="#", alt="Описание картинки")
				.goods__description
					a(href="#") Любительская селфи-палка
					span.goods__price 500 &#8381;
				.shop-grid__item-overlay
					a(href="#").btn.btn-goods Подробнее
			.shop-grid__item.goods
				span.goods__bage New
				img.goods__img(src="#", alt="Описание картинки")
				.goods__description
					a(href="#") Профессиональная селфи-палка
					span.goods__price 1500 &#8381;
				.shop-grid__item-overlay
					a(href="#").btn.btn-goods Подробнее
			.shop-grid__item.goods
				span.goods__bage New
				img.goods__img(src="#", alt="Описание картинки")
				.goods__description
					a(href="#") Непотопляемая селфи-палка
					span.goods__price 2500 &#8381;
				.shop-grid__item-overlay
					a(href="#").btn.btn-goods Подробнее
			.shop-grid__item.goods
				span.goods__bage New
				img.goods__img(src="#", alt="Описание картинки")
				.goods__description
					a(href="#") Селфи-палка "следуй за мной"
					span.goods__price 4900 &#8381;
				.shop-grid__item-overlay
					a(href="#").btn.btn-goods Подробнее
		.load-more
			button(type="button") Загрузить еще
		footer.content-shop__footer
			section.pagination
				a.pagination__bnt(href="#")  Назад
				ul.pagination__list
					li.pagination__item
						a.pagination__link(href="#") 1
					li.pagination__item
						a.pagination__link(href="#") 2
					li.pagination__item
						a.pagination__link(href="#") 3
					li.pagination__item
						a.pagination__link ...
					li.pagination__item
						a.pagination__link(href="#") 15
				a.pagination__bnt(href="#")  Вперёд

block footer
	include pug/particials/footer.pug
